<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master}">
<head></head>
<body>
<div layout:fragment="content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Registrar Transaccion</h3></div>
                            <div class="card-body">
                                <form action="/transaccion/createtransaccion" method="post">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input name="concepto" class="form-control" type="text" placeholder="Ingrese el concepto" />
                                                <label>Concepto</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input name="monto" class="form-control" type="text" placeholder="Ingrese el monto" />
                                                <label>Monto</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <select name="empresa" class="form-control" type="text" placeholder="Seleccione la empresa">
                                                    <option>Seleccione la Empresa</option>
                                                    <option th:each="emp:${misempresas}" th:value="${emp.id}" th:text="${emp.nombreEmpresa}"></option>
                                                </select>
                                                <label>Empresa</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <select name="empleado" class="form-control" type="text" placeholder="Seleccione el empleado">
                                                <option>Seleccione el Empleado</option>
                                                <option th:each="empl:${misempleados}" th:value="${empl.id}" th:text="${empl.correoElectronico}"></option>
                                            </select>
                                                <label>Empleado</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input name="fechaCreado" class="form-control" type="text" placeholder="Ingrese la fecha de creación" />
                                                <label>Fecha Creado</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input name="fechaActualizado" class="form-control" type="text" placeholder="Ingrese la fecha de actualización" />
                                                <label>Fecha Actualizado</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary btn-block" >Registrar Transaccion</button>
                                        </div>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <a href="/transaccion/listtransaccion" class="btn btn-danger" >Cancelar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</body>
</html>