<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master}">
<head></head>
<body>
<div layout:fragment="content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="text-center mt-4">
              <h1 class="display-1">Bienvenidos</h1>
              <p class="lead">Este es un espacio para gestionar Empresas, Empleados y Transacciones</p>
            </div>
          </div>
        </div>
      </div>
</div>
</body>
</html>
